.App {
  text-align: center;
}

html {
  font-family: 'Cinzel', serif;
  background-color: black;
  text-align: center;
  background-color: #383b3b;
}

body {
  margin: 25px auto;
  border: 1.25px solid white;
  border-radius: 7.5px;
  width: 90%;
  box-shadow: 0 10px 10px 1px inset white;
  background-color: black;
}

.outer-wrapper {
  margin: 25px auto;
  border: 1.25px solid white;
  border-radius: 7.5px;
  width: 90%;
  box-shadow: 0 10px 10px 1px white;
  background-color: #383b3b;
}

.photo-wrapper {
  margin: 25px auto;
  border: 1.25px solid white;
  border-radius: 7.5px;
  width: 250px;
  height: 350px;
  box-shadow: 0 10px 10px 1px inset white;
  background-color: black;
}

img {
  margin: 25px auto;
  border: 1.25px solid white;
  border-radius: 7.5px;
  box-shadow: 0 10px 10px 1px white;
}

.button-wrapper {
  margin: 25px auto;
  border: 1.25px solid white;
  border-radius: 7.5px;
  width: 50%;
  box-shadow: 0 10px 10px 1px inset white;
  background-color: black;
}

.change-photo-button {
  color: white;
  text-shadow: 0.5px 1px 3px yellow;
  width: 80%;
  padding: 15px;
  margin: 25px auto;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  background-color: black;
  border: 1.25px solid;
  border-radius: 5px;
  box-shadow: 0 5px 10px 1px white;
  outline: none;
  background-color: #383b3b;
}

.change-photo-button:active {
  background-color: rgb(39, 39, 34); 
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

h1, h2 {
  color: white;
  text-shadow: 0.5px 1px 3px yellow;
}