.App {
  text-align: center;
}

html {
  font-family: 'Cinzel', serif;
  background-color: #ececdb;
  text-align: center;
}

body {
  margin: 25px auto;
  border: 1px solid;
  border-radius: 7.5px;
  width: 90%;
  box-shadow: 0 10px 10px 1px inset rgb(65, 64, 62);
}

.outer-wrapper {
  margin: 25px auto;
  border: 1.25px solid;
  border-radius: 7.5px;
  width: 90%;
  box-shadow: 0 10px 10px 1px rgb(65, 64, 62);
}

.photo-wrapper {
  margin: 25px auto;
  border: 1px solid;
  border-radius: 7.5px;
  width: 250px;
  height: 350px;
  box-shadow: 0 10px 10px 1px inset rgb(65, 64, 62);
}

img {
  margin: 25px auto;
  border: 2px solid;
  box-shadow: 0 10px 10px 1px rgb(65, 64, 62);
}

.button-wrapper {
  margin: 25px auto;
  border: 1.25px solid;
  border-radius: 7.5px;
  width: 50%;
  box-shadow: 0 10px 10px 1px inset rgb(65, 64, 62);
}

.change-photo-button {
  color: #073001;
  width: 80%;
  padding: 15px;
  margin: 15px auto;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  background-color: #ececdb;
  border: 1px solid;
  border-radius: 3%;
  box-shadow: 0 5px 10px 1px rgb(65, 64, 62);
  outline: none;
}

.change-photo-button:active {
  background-color: rgb(238,235,209); 
  box-shadow: 0 5px rgb(65, 64, 62);
  transform: translateY(4px);
}
